
  ion-content {
    --padding-start: 16px;
    --padding-end: 16px;
  }

  ion-item {
    --inner-padding-top: 8px;
    --inner-padding-bottom: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
    background: #f8f8f8;
  }

  ion-label {
    font-weight: bold;
  }

  ion-input {
    background: white;
    border-radius: 5px;
    padding: 8px;
  }

  ion-footer {
    background: white;
    padding: 16px;
  }

  ion-button {
    font-size: 18px;
    font-weight: bold;
    --border-radius: 8px;
  }
